<div id="fondo-lago"></div>
<div id="rana" class="animal">
  <img src="assets/rana.png" alt="Rana">
  <div *ngIf="showMensaje && currentAnimal === 'rana'" id="mensaje">
    <span>{{ mensaje }}</span>
  </div>
</div>
<div id="libelula" class="animal">
  <img src="assets/libelula.png" alt="Libélula">
  <div *ngIf="showMensaje && currentAnimal === 'libelula'" id="mensaje">
    <span>{{ mensaje }}</span>
  </div>
</div>
<div id="grillo" class="animal">
  <img src="assets/grillo.png" alt="Grillo">
  <div *ngIf="showMensaje && currentAnimal === 'grillo'" id="mensaje">
    <span>{{ mensaje }}</span>
  </div>
</div>
<div id="campecino" [ngClass]="{'de-espalda': !campecinoFrente}" (click)="mostrarOpciones()">
  <img *ngIf="campecinoFrente" src="assets/campecino-frente.png" alt="Campesino de frente">
  <img *ngIf="!campecinoFrente" src="assets/campecino-espalda.png" alt="Campesino de espalda">
  <div *ngIf="showMensaje && !currentSonidos.length" id="mensaje">
    <span>{{ mensaje }}</span>
  </div>
</div>
<div *ngIf="showOpciones" class="opciones">
  <div class="opcion opcion-rana" (click)="reproducirSonido('brr')">brr</div>
  <div class="opcion opcion-rana" (click)="reproducirSonido('birip')">birip</div>
  <div class="opcion opcion-libelula" (click)="reproducirSonido('plop')">plop</div>
  <div class="opcion opcion-rana" (click)="reproducirSonido('croac')">croac</div>
  <div class="opcion opcion-rana" (click)="reproducirSonido('brrah')">brrah</div>
</div>
