<div id="fondo-lago"></div>
<div id="franja-sonidos">
  <div class="animal" (mouseover)="mostrarSonidos('rana')" (mouseout)="ocultarSonidos()">
    <img src="/assets/rana.png" alt="Rana">
  </div>
  <div class="animal" (mouseover)="mostrarSonidos('libelula')" (mouseout)="ocultarSonidos()">
    <img src="/assets/libelula.png" alt="Libélula">
  </div>
  <div class="animal" (mouseover)="mostrarSonidos('grillo')" (mouseout)="ocultarSonidos()">
    <img src="/assets/grillo.png" alt="Grillo">
  </div>
</div>
<div id="campecino" [ngClass]="{'de-espalda': !campecinoFrente}">
  <img *ngIf="campecinoFrente" src="/assets/campecino-frente.png" alt="Campesino de frente">
  <img *ngIf="!campecinoFrente" src="/assets/campecino-espalda.png" alt="Campesino de espalda">
</div>
<div *ngIf="showMensaje" id="mensaje">
  <span>{{ mensaje }}</span>
</div>
